<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/header.css" />
</head>
<body>
<header>
    <h1>SoccerPlayersCatalog</h1>
    <p>Made by Eldar Badalbeyli</p>
</header>
@RenderBody()

</body>
</html>